<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_header') %>
<body>
  <H2>Files last updated: <%- lastupdated %></H2>
  <P1> These lists are updated every hour as any faster and etherscan would likely block me or rate limit and one hour intervals should be plenty short for now. 
  <br> I may mess with shorter times in the future and see what i can get away with.
  </P1>
  <ul>
  <li> Combined silver and gold pass holders: <a href="/public/files/CombinedPassHolders.csv"> CombinedPassHolders.csv </a></li>
  <li> Gold pass holders only: <a href="/public/files/GoldPassHolders.csv"> GoldPassHolders.csv </a></li>
  <li> Silver pass holders only: <a href="/public/files/SilverPassHolders.csv"> SilverPassHolders.csv </a></li>
  </ul>
</body>
</html>